@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}
.nav-item .nav-link,
.nav-item .nav-link:hover {
  color: white;
}
.active {
  font-weight: bold !important;
  color: #2fcbe0   !important;
}
@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #181a27 !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}
.navbar-brand {
  background-color: #fde74c;
  background-image: linear-gradient(
    319deg,
    #fde74c 0%,
    #32ff7a 37%,
    #2fcbe0 100%
  );
  -webkit-background-clip: text; /* For WebKit browsers */
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
  background-clip: text; /* For non-WebKit browsers */
  color: transparent; /* Fallback for browsers that do not support background-clip */
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 0rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 4px;
  width: 0;
  border-radius: 16px;
  background: rgb(4, 187, 187);
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  background-color: #fde74c;
  background-image: linear-gradient(
    319deg,
    #fde74c 0%,
    #32ff7a 37%,
    #2fcbe0 100%
  );
  font-weight: 600 !important;
  -webkit-background-clip: text; /* For WebKit browsers */
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
  background-clip: text; /* For non-WebKit browsers */
  color: transparent; /* Fallback for browsers that do not support background-clip */
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #2fcbe0   !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}
